<div *ngIf="editValue; else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Branch Infomation Edit</b>
      </ng-template>
      <form [formGroup]="editValueForm">
        <div class="form-container-column">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field hintLabel="Max 50 characters" class="w-100">
                <input matInput placeholder="Enter name of branch"
                       required maxlength="50"
                       id="Name" formControlName="Name">
                <mat-hint [align]="end">{{editValueForm.controls.Name.value?.length || 0}}/50</mat-hint>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field hintLabel="Max 50 characters">
                <textarea matInput placeholder="Address"
                          id="Address" formControlName="Address"></textarea>
                <mat-hint [align]="end">{{editValueForm.controls.Address.value?.length || 0}}/250</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
