<div *ngIf="displayValue,else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Maintenance infomation view.</b>
      </ng-template>
      <div class="view-container" *ngIf="requireMainten">
        <app-item-mainten-has-require [displayValue]="requireMainten">
        </app-item-mainten-has-require>
      </div>
      <hr />
      <div class="view-container">
        <!--Row1-->
        <div class="row my-1">
          <div class="my-label">
            ItemMaintenanceNo :
          </div>
          <div class="my-value">
            {{displayValue.ItemMaintenanceNo || "-"}}
          </div>

          <div class="my-label">
            StatusMaintenance :
          </div>
          <div class="my-value">
            {{displayValue.StatusMaintenance || "-"}}
          </div>
        </div>
        <!--Row2-->
        <div class="row my-1">
          <div class="my-label">
            Plan :
          </div>
          <div class="my-value">
            {{(displayValue.PlanStartDate | date:'dd/MM/yyyy')|| "-"}}
            &nbsp;|&nbsp;
            {{(displayValue.PlanEndDate | date:'dd/MM/yyyy')|| "-"}}
          </div>

          <div class="my-label">
            Actual :
          </div>
          <div class="my-value">
            {{(displayValue.ActualStartDate | date:'dd/MM/yyyy')|| "-"}}
            &nbsp;|&nbsp;
            {{(displayValue.ActualEndDate | date:'dd/MM/yyyy')|| "-"}}
          </div>
        </div>
        <!--Row3-->
        <div class="row my-1">
          <div class="my-label">
            Description :
          </div>
          <div class="my-value">
            {{displayValue.Description || "-"}}
          </div>

          <div class="my-label">
            Remark :
          </div>
          <div class="my-value">
            {{displayValue.Remark || "-"}}
          </div>
        </div>
        <!--Row4-->
        <div class="row my-1">
          <div class="my-label">
            MaintenanceBy :
          </div>
          <div class="my-value">
            {{displayValue.MaintenanceEmpString || "-"}}
          </div>

          <div class="my-label">
            TypeMaintenance :
          </div>
          <div class="my-value">
            {{displayValue.TypeMaintenanceString || "-"}}
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
