.form-container-column {
  margin:20px 10px 10px 20px;
  display: flex;
  flex-direction: column;
}

.form-container-row {
  @extend .form-container-column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
